.image-section {
  display: flex;
  justify-content: center;
}
.list-items {
  font-weight: 600;
  display: flex;
  justify-content: center;
  list-style-type: none;
  gap: 40px;
}
nav {
  padding: 10px 0;
  border-bottom: 1px solid;
}

@media screen and (max-width: 576px) {
  .list-items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 3px;
    text-align: center;
  }
}
